body {
  background-color: rgb(255, 255, 255);
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.app {
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
  border: solid 2px rgb(41, 41, 41);
  margin: 0 auto;
  height: 500px;
  width: 300px;
  padding: 30px;
  text-align: center;
}