* {
  margin: 0;
}

.background {
  background-color: darkslategray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow-x: hidden;
}

.app {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: solid 2px rgb(32, 32, 32);
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 0;
  margin-top: 20px;
}


label p {
  color: rgb(32, 32, 32);
  text-align: left;
  margin-bottom: -10px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
}

.input {
  background-color: #ededed;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  display: block;
}

.textarea {
  height: 200px;
  color: rgb(32, 32, 32);
  width: 95%;
  margin: 0 auto;
  display: block;
}

.text {
  height: 30px;
  color: rgb(32, 32, 32);
  width: 95%;
  margin: 0 auto;
  display: block;
}

.sendbutton {
  width: 100px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 16px;
  color:rgb(32, 32, 32);
}

body {
  overflow-x: hidden;
}